/* =========================
   GLOBAL
========================= */

img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

h2 {
  font-weight: 600;
}

.btn-success {
  padding: 10px 25px;
  font-weight: 500;
}

/* =========================
   PRODUCT GALLERY UPDATED
========================= */

/* Thumbnail wrapper */
.thumbnail-wrapper {
  width: 70px;
}

/* Thumbnail image */
.thumbnail-img {
  width: 100%;
  height: 70px;
  object-fit: cover;
  border: 1px solid #eee;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.thumbnail-img:hover {
  border-color: #00b207;
}

.active-thumb {
  border: 2px solid #00b207;
}

/* Main image container */
.main-image-box {
  height: 310px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-image-box img {
  max-height: 100%;
  object-fit: contain;
}



/* =========================
   TABLET RESPONSIVE
========================= */

@media (max-width: 992px) {

  .thumbnail-wrapper {
    width: 60px;
  }

  .thumbnail-img {
    height: 60px;
  }

  .main-image-box {
    height: 260px;
  }
}


/* =========================
   MOBILE RESPONSIVE
========================= */

@media (max-width: 768px) {

  /* Stack thumbnails horizontally on mobile */
  .thumbnail-wrapper {
    width: 55px;
  }

  .thumbnail-img {
    height: 55px;
  }

  .main-image-box {
    height: 240px;
  }
}


/* =========================
   SMALL MOBILE
========================= */

@media (max-width: 480px) {

  .thumbnail-wrapper {
    width: 45px;
  }

  .thumbnail-img {
    height: 45px;
  }

  .main-image-box {
    height: 200px;
  }

  .btn-success {
    width: 100%;
    padding: 12px;
  }
}