img {
  border-radius: 10px;
}

h2 {
  font-weight: 600;
}

.btn-success {
  padding: 10px 25px;
  font-weight: 500;
}
/* =========================
   PRODUCT GALLERY UPDATED
========================= */

.thumbnail-wrapper {
  width: 70px; /* smaller width */
}

.thumbnail-img {
  width: 100%;
  height: 70px; /* smaller thumb */
  object-fit: cover;
  border: 1px solid #eee;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.thumbnail-img:hover {
  border-color: #00b207;
}

.active-thumb {
  border: 2px solid #00b207;
}

/* Main image container */
.main-image-box {
  height: 310px; /* 70px * 4 + gaps (~10px each) */
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-image-box img {
  max-height: 100%;
  object-fit: contain;
}
